@import 'variables';

h1{
    color:$red-color;
}
.quiz-result{
    color: $red-color;
    height: 20vh;
    background-color: antiquewhite;
}
.question-content{
    height:70vh;
    color: brown;
}
.main-content{
    background-color: aqua;
}
body{
    background-color: chartreuse;
    // border: 10px solid red;
}
h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 5vh;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 5vw;
    margin-top:10vh;
    background-color: aqua;
    border: 10px solid blue;
}