<div class="question-form">
  <form action="createQuestion" method="POST">
    <input type="text" placeholder="Question Code" id="name" name="name"
      class="flex-fill form-control prop-field mt-5" />
    <textarea id="question" name="question" placeholder="Question"
      class="flex-fill form-control prop-field mt-5"></textarea>
    <input type="text" placeholder="Option 1" id="option1" name="option1"
      class="flex-fill form-control prop-field mt-5" />
    <input type="text" placeholder="Option 2" id="option2" name="option2"
      class="flex-fill form-control prop-field mt-5" />
    <input type="text" placeholder="Option 3" id="option3" name="option3"
      class="flex-fill form-control prop-field mt-5" />
    <input type="text" placeholder="Option 4" id="option4" name="option4"
      class="flex-fill form-control prop-field mt-5" />
    <input type="text" placeholder="Answer" id="answer" name="answer" class="flex-fill form-control prop-field mt-5" />
    <button type="submit">Add New Question</button>
  </form>
</div>